<div class="tc-white-1 p+" flex-container="row" flex-column="16">
    <div flex-item="1">
        <div class="p+"></div>
    </div>
    <div flex-item="10">
        <div class="p+">
            <md-card>
                <md-card-content>
                    <h3>Welcome to my website</h3>
                    <span class="fs-subhead tc-black-2 display-block">It is a kinda emtpy. :D</span>

                    <div class="paragraph fs-body-1 mt+" style="color: black;">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique orci a lacinia malesuada.
                        </p>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div flex-item="4">
        <div class="p+">
            <md-card>
                <md-card-content>
                    <h3>Latest updates</h3>
                    <ul class="list mt++">
                        <li class="list-row list-row--multi-line list-row--has-separator">
                            <div id="commits">
                                <div layout="row" layout-align="center center">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>
                        </li>
                    </ul>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
<script>
    getLatestCommitsFor('web');
</script>
