<div class="tc-white-1 p+" flex-container="row" flex-column="16">
	<div flex-item="1">
		<div class="p+"></div>
	</div>
	<div flex-item="10">
		<div class="p+">

			<md-card>
				<md-card-content>
					<img class="p+" style="display: block; margin-left: auto; margin-right: auto;" src="custom/projects/myzone/img/myzone.png"/>
					<md-tabs md-selected="$route.current.activeTab" md-stretch-tabs="always" md-dynamic-height="true">
						<md-tab label="Get Started">

							<div class="p+ tc-black m+">
								<strong class="fs-headline display-block p+" style="color: black;">Get Started</strong>
								<p>myZone is a easy to use protection system which is based on Worldguard, that allows
								   users to perform various actions on user-selected areas</p>

								<strong class="fs-headline display-block p+" style="color: black;">Features</strong>
								<ol style="list-style-type: circle">
									<li>Zone protection</li>
									<li>Easy-to-use</li>
									<li>Economy support via
										<a href="http://dev.bukkit.org/bukkit-plugins/vault/" target="_blank">Vault</a>
									</li>
									<li>1.7.10, 1.8.X, 1.9.4 and 1.10 support. ( It protects your ArmorStands and
									    ItemFrames also. :) )
									</li>
									<li>Multilanguage support ( Send me translations! Currently only &ldquo;en&rdquo;
									    and &ldquo;hu&rdquo; available. )
									</li>
									<li>Easy costumization</li>
									<li>Update notifier</li>
								</ol>

								<strong class="fs-headline display-block p+" style="color: black;">Dependencies</strong>
								<p>If you would like to use the economy support you&rsquo;ll have to have
									<a href="http://dev.bukkit.org/bukkit-plugins/vault/" target="_blank">Vault</a>
								   installed.</p>
							</div>


						</md-tab>
						<md-tab label="Installation">

							<div class="p+ tc-black m+">
								<strong class="fs-headline display-block p+" style="color: black;">Installation</strong>
								<ol style="list-style-type: circle">
									<li>Download <a href="#soon" target="_blank">myZone</a></li>
									<li>Make sure your server is not running.</li>
									<li>Copy the .jar file into your plugins directory.</li>
									<li>Start the server.</li>
									<li>If you made a backup of your config.yml file, stop the server and edit the newly
									    generated config.yml file with only what you need, from the backup.
									</li>
									<li>Start the server.</li>
									<li>Enjoy!</li>
								</ol>
							</div>


						</md-tab>
						<md-tab label="Commands">

							<div class="p+ tc-black m+">
								<strong class="fs-headline display-block p+" style="color: black;">Commands</strong>

								<div ng-controller="myzone_commandsCtrl">
									<div layout="row" layout-align="center center">
										<md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
									</div>
									<table class="data-table">
										<thead>
										<tr>
											<th>Command</th>
											<th>Permission</th>
											<th>Details</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="x in commands">
											<td>{{ x.Command }}</td>
											<td>{{ x.Permission }}</td>
											<td>{{ x.Details }}</td>
										</tr>
										</tbody>
									</table>
								</div>
								<div ng-controller="myzone_permissionsCtrl">
									<div layout="row" layout-align="center center">
										<md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
									</div>
									<table class="data-table">
										<thead>
										<tr>
											<th>Permission</th>
											<th>Details</th>
											<th>Others</th>
										</tr>
										</thead>
										<tbody>
										<tr ng-repeat="x in permissions">
											<td>{{ x.Permission }}</td>
											<td>{{ x.Details }}</td>
											<td>{{ x.Others }}</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>

						</md-tab>
						<md-tab label="Configuration">

							<div class="p+ tc-black m+">
								<strong class="fs-headline display-block p+" style="color: black;">Configuration</strong>
								<p>The configuration of this plugin is very simple:</p>
								<ng-prism class="language-yaml"><ng-include src="'custom/projects/myzone/config.yml'"></ng-include></ng-prism>
							</div>

						</md-tab>
					</md-tabs>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button href="#" target="_blank">SpigotMC</md-button>
					<md-button href="#" target="_blank">Bukkit</md-button>
					<md-button href="https://github.com/TryHardDood/myZone" target="_blank">Source Code</md-button>
				</md-card-actions>
			</md-card>

		</div>
	</div>
	<div flex-item="4">
		<div class="p+">
			<md-card>
				<md-card-content>
					<h3>Latest updates</h3>
					<ul class="list mt++">
						<li class="list-row list-row--multi-line list-row--has-separator">
							<div id="commits">
								<div layout="row" layout-align="center center">
									<md-progress-circular md-mode="indeterminate"></md-progress-circular>
								</div>
							</div>
						</li>
					</ul>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>
<script>
	getLatestCommitsFor('myzone');
</script>
